<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/mqc4oel.css">
  </head>

  <body>
    <header>
      <span id="name"><a href="https://viktoredvardsson.com/">Viktor Edvardsson</a></span>
      <span id="insta"><img src="insta.png" height="50" alt=""></span>
    </header>
    <div id="container"> {% for post in site.posts %} <div class="object">
        <div class="image"><img src="{{ post.image }}" width="100%" alt=""></div>
        <p>{{ post.title }}</p>
        {{ post.excerpt }}
        <a href="{{ post.url }}" class="link">Lorem ipsum</a>
      </div> {% endfor %} </div>
  </body>

</html>